%main{id: "main"}
  %section{id: "featured-games"}
    %h1 Featured Games
    
    %ol{class: "game-list"}
      -@games.each do |game|
        %li{class: "game-list-item"}
          %figure
            =image_tag(game.coverart, width: 150, alt: game.title)
            %figcaption
              =game.title
          
  %section{id: "featured-events"}
    %h1 Featured Events
    
    %ol{class: "event-list"}
      -@events.each do |event|
        %li{class: "event-list-item"}
          %h2{class: "event-title"}
            =event.title
          %div{class: "event-date"}
            Date: 
            =event.date
          %div{class: "event-location"}
            Location: 
            =event.location
          %div{class: "event-description"} 
            Description:
            =event.description
