%h1 Gamerverse

%main{id: "main"}
  %section{id: "featured-games"}
    %h1 Featured Games
    
    -@games.each do |game|
      %div{class: "featured-game"}
        =image_tag(game.coverart, width: 150, alt: game.title)
        %p
          =game.title
