%h1 Gamerverse

%section{id: "featured-games"}
  %h1 Featured Games
  
  -@games.each do |game|
    %div{class: "featured-game"}
      =image_tag(game.getCoverArtUrl, width: 300)
      %p
        =game.getTitle
