%main{id: "main"}
  %section{id: "events-section"}
    %h1 Events
    
    -if logged_in?
      = link_to "Create Event", events_create_path
    
    %ol{class: "event-list"}
      -@events.each do |event|
        %li{class: "event-list-item"}
          %h2{class: "event-title"}
            =event.title
          %div{class: "event-date"}
            Date: 
            =event.date
          %div{class: "event-location"}
            Location: 
            =event.location
          %div{class: "event-description"} 
            Description:
            =event.description