%main{id: "main"}
  %section{id: "all-events"}
    %h1 Events
    -@events.each do |event|
      %div{class: "events"}
        %div{class: "event_title"}
          Title: 
          =event.title
        %div{class: "event_date"}
          Date: 
          =event.date
        %div{class: "event_location"}
          Location: 
          =event.location
        %div{class: "event_description"} 
          Description: 
          =event.description
        %br