%main{id: "main"}
  %section{id: "events-section"}
    %h1 Events
    
    -if logged_in?
      %p
        = link_to "Create Event", events_create_path
    
    %ol{class: "event-list"}
      -@events.each do |event|
        %li{class: "event-list-item"}
          %h2{class: "event-title"}
            =event.title
          %div{class: "event-date"}
            Date: 
            =event.date
          %div{class: "event-location"}
            Location: 
            =event.location
          %div{class: "event-description"} 
            Description:
            =event.description
          %div{class: "event-attending-count"}
            =event.attending_count
            attendees
            -if logged_in?
              -if !@favorite_event_ids.include?(event.id)
                %span.favorite-button
                  = link_to "Attend",favorite_event_path(event, type: "attend", path: events_path), method: :put
              -else
                %span.unfavorite-button
                  = link_to "Unattend",favorite_event_path(event, type: "unattend", path: events_path), method: :put