%main{id: "main"}
  %section{id: "games-section"}
    %h1 Games

    %ol{class: "game-list"}
      -@games.each do |game|
        %li{class: "game-list-item"}
          %figure
            =image_tag(game.coverart, width: 150, alt: game.title)
            %figcaption
              %span.game-title
                =game.title
                %span.favorite-count
                  =game.favorite_count
                  favorites
                  -if logged_in?
                    -if !@favorite_game_ids.include?(game.id)
                      %span.favorite-button
                        = link_to "❤️",favorite_game_path(game, type: "favorite", path: games_path), method: :put, title: "Add to Favorites"
                    -else
                      %span.unfavorite-button
                        = link_to "❌️",favorite_game_path(game, type: "unfavorite", path: games_path), method: :put, title: "Remove from Favorites"
                      