%main{id: "main"}
  %section{id: "games-section"}
    %h1 Games

    %ol{class: "game-list"}
      -@games.each do |game|
        %li{class: "game-list-item"}
          %figure
            =image_tag(game.coverart, width: 150, alt: game.title)
            %figcaption
              %span.game-title
                =game.title
                -if logged_in?
                  -if !@favorite_games.include?(game)
                    %span.favorite-button
                      = link_to "❤️",favorite_game_path(game, type: "favorite"), method: :put
                  -else
                    %span.unfavorite-button
                      = link_to "❌️",favorite_game_path(game, type: "unfavorite"), method: :put
                      