%main{id: "main"}
  %section{id: "games-section"}
    %h1 Games

    %ol{class: "game-list"}
      -@games.each do |game|
        %li{class: "game-list-item"}
          %figure
            =image_tag(game.coverart, width: 150, alt: game.title)
            %figcaption
              =game.title
