/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.event-attending-count {
  color: gray;
}

.event-list {
  margin: 0;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
}

.event-list-item {
  display: inline-block;
  line-height: 1.25;
  padding-bottom: 1em;
  vertical-align: top;
  width: 400px;
}

.event-title {
  font-size: 1em;
}